@font-face {
  font-family: "Yekan";
  src: url("./fonts/Yekan.eot");
  src: url("./fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Yekan.woff2") format("woff2"),
    url("./fonts/Yekan.woff") format("woff"),
    url("./fonts/Yekan.ttf") format("truetype"),
    url("./fonts/Yekan.otf") format("opentype"),
    url("./fonts//Yekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal;
}
